body {
	font-family: 'Noto Sans', sans-serif;
}

.banner {
	height: 680px;
    background-size: cover;
    background-position: center;
    font-family: 'Rowdies', cursive;  
}

.header-navbar {
	padding-top: 10px;
}

.item-navbar {
	color: #dae0e5;
    text-decoration: none;
    background-color: transparent;
    opacity: 0.8;
    padding: 15px;
    font-weight: 500;
    transition: opacity 1s ease;    
}

.item-navbar:hover {
	color: #17a2b8;
	text-decoration: none;
	opacity: 1;
}

.intro h1 {
	font-family: 'Rowdies', cursive;
}

.card {
	box-shadow: 2px 3px 3px grey;
}

.card a:hover {
	opacity: 0.8
}

.card img {
	height: 100%;
	width: 200px 200px;
	object-fit: cover;
}

.second-card {
  background-size: cover;
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 29px;
  font-weight: bold;
  padding: 25px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
 } 


.btn-ghost {
  color: #4A4A4A;
  background-color: #f4f4f4;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

#suscripcion {
	padding: 70px;
	margin: 35px 60px;
	background-color: white;
}

#suscripcion h5 {
	color: #17a2b8;
	font-size: 25px;
	font-family: 'Rowdies', cursive;
}

#suscripcion p {
	font-weight: bold;
}


.footer {
  background:linear-gradient(#f4f4f4, #827346);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: black;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.4;
}
.footer .fa-heart {
  color: #D23333;
}


hr {
    max-width: 60rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #949494;
    border-left: 0;
    box-sizing: content-box;
    height: 0;    
}

